MONGODB_URI=mongodb+srv://mithodania_db_user:b37iG7QJUGvqy4va@scoh.chwkwao.mongodb.net/?appName=SCOH
MONGODB_DATABASE=scoh
GOOGLE_CLIENT_ID=101329740369-f61epcq6btprp01oj9hfs3u1e495omhr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
OAUTH_SUCCESS_REDIRECT_URL=http://localhost:5174/auth/callback
PORT=8081
CORS_ALLOWED_ORIGINS=http://localhost:5174
BOOTSTRAP_ADMIN_EMAIL=mklskodithuwakku@gmail.com
BOOTSTRAP_DEFAULT_USER_EMAIL=kmls19kodituwakku@gmail.com
